<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add New Message</h1>
    <form method="POST" action="/new">
      <p>Name: <input type="text" name="author" id="author" /></p>
      <p>Message: <input type="text" name="message" id="message" /></p>
      <button type="submit">Add</button>
    </form>
  </body>
</html>
